dev quantum-tunnel-{{ remote_vpn_name|default('vpn') }}
dev-type tun
ifconfig {{ local_vpn_ip }} {{ remote_vpn_ip }}
secret /etc/openvpn/static.key
{% if qtun_core_ip is defined %}remote {{ qtun_core_ip }}{% endif %}
